In [1]:
import numpy as np
import pandas as pd

**Overdoses**

In [58]:
overdoses = pd.read_csv("./datasets_monthly/VSRR_Provisional_Drug_Overdose_Death_Counts.csv", sep = ",")
#overdoses

In [59]:
overdoses1 = overdoses.loc[(overdoses["State Name"] == "United States") & (overdoses["Indicator"] != "Percent with drugs specified") & (overdoses["Indicator"] != "Number of Deaths")]
#overdoses1

In [60]:
overdoses1 = overdoses1.drop(columns=["State", "Period", "Percent Complete", "Percent Pending Investigation", "State Name", "Footnote", "Footnote Symbol", "Predicted Value"])

overdoses1 = overdoses1.astype({'Data Value': 'int64'})

overdoses1.dtypes

Year           int64
Month         object
Indicator     object
Data Value     int64
dtype: object

In [63]:
overdoses2 = overdoses1

overdoses2 = overdoses2.pivot(index = ['Year', 'Month'], columns ='Indicator', values = 'Data Value')

meses = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
overdoses2 = overdoses2.reindex(pd.MultiIndex.from_product([overdoses2.index.levels[0], meses], names=['Year', 'Month']))

overdoses2.head(-1)
#overdoses2.to_csv('./overdoses.csv', index = True)

Indicator       Cocaine (T40.5)  Heroin (T40.1)  Methadone (T40.3)  \
Year Month
2015 January             5496.0         10788.0             3413.0
     February            5592.0         11002.0             3372.0
     March               5729.0         11167.0             3387.0
     April               5908.0         11471.0             3401.0
     May                 5987.0         11675.0             3421.0
...                         ...             ...                ...
2020 July               18997.0         14145.0             3234.0
     August             19021.0         13905.0             3313.0
     September              NaN             NaN                NaN
     October                NaN             NaN                NaN
     November               NaN             NaN                NaN

Indicator       Natural & semi-synthetic opioids (T40.2)  \
Year Month
2015 January                                     12269.0
     February                                    12237.0
     March                                       12267.0
     April                                       12356.0
     May                                         12474.0
...                                                  ...
2020 July                                        12894.0
     August                                      12986.0
     September                                       NaN
     October                                         NaN
     November                                        NaN

Indicator       Natural & semi-synthetic opioids, incl. methadone (T40.2, T40.3)  \
Year Month
2015 January                                              14944.0
     February                                             14885.0
     March                                                14929.0
     April                                                15022.0
     May                                                  15133.0
...                                                           ...
2020 July                                                 15593.0
     August                                               15750.0
     September                                                NaN
     October                                                  NaN
     November                                                 NaN

Indicator       Natural, semi-synthetic, & synthetic opioids, incl. methadone (T40.2-T40.4)  \
Year Month
2015 January                                              19161.0
     February                                             19358.0
     March                                                19640.0
     April                                                20124.0
     May                                                  20539.0
...                                                           ...
2020 July                                                 56943.0
     August                                               58414.0
     September                                                NaN
     October                                                  NaN
     November                                                 NaN

Indicator       Number of Drug Overdose Deaths  Opioids (T40.0-T40.4,T40.6)  \
Year Month
2015 January                           47523.0                      28986.0
     February                          47725.0                      29269.0
     March                             48198.0                      29609.0
     April                             48748.0                      30240.0
     May                               49293.0                      30745.0
...                                        ...                          ...
2020 July                              83989.0                      61626.0
     August                            85516.0                      62972.0
     September                             NaN                          NaN
     October                               NaN                          NaN
     November                              NaN                          NaN

Indicator       Psychostimulants with abuse potential (T43.6)  \
Year Month
2015 January                                           4402.0
     February                                          4449.0
     March                                             4586.0
     April                                             4675.0
     May                                               4785.0
...                                                       ...
2020 July                                             20539.0
     August                                           21405.0
     September                                            NaN
     October                                              NaN
     November                                             NaN

Indicator       Synthetic opioids, excl. methadone (T40.4)
Year Month
2015 January                                        5766.0
     February                                       6079.0
     March                                          6390.0
     April                                          6868.0
     May                                            7254.0
...                                                    ...
2020 July                                          48987.0
     August                                        50492.0
     September                                         NaN
     October                                           NaN
     November                                          NaN

[71 rows x 10 columns]