In [1]:
import numpy as np
import pandas as pd

In [2]:
port = pd.read_csv("Datasets/data.csv", sep = ",")

In [3]:
port

,data,data_dados,confirmados,confirmados_arsnorte,confirmados_arscentro,confirmados_arslvt,confirmados_arsalentejo,confirmados_arsalgarve,confirmados_acores,confirmados_madeira,...,obitos_m,confirmados_desconhecidos_m,confirmados_desconhecidos_f,ativos,internados_enfermaria,confirmados_desconhecidos,incidencia_nacional,incidencia_continente,rt_nacional,rt_continente
0,26-02-2020,26-02-2020 00:00,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,27-02-2020,27-02-2020 00:00,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,28-02-2020,28-02-2020 00:00,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,29-02-2020,29-02-2020 00:00,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01-03-2020,01-03-2020 00:00,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
416,17-04-2021,17-04-2021 00:00,830560,333542,118079,314568,29554,21348,4507,8962,...,8903.0,NaN,NaN,25344.0,312.0,302.0,71.6,68.0,1.05,1.04
417,18-04-2021,18-04-2021 00:00,831001,333735,118125,314677,29559,21386,4540,8979,...,8903.0,NaN,NaN,25387.0,319.0,302.0,71.6,68.0,1.05,1.04
418,19-04-2021,19-04-2021 00:00,831221,333832,118149,314733,29568,21391,4554,8994,...,8903.0,NaN,NaN,25059.0,342.0,302.0,71.8,68.1,1.00,1.00
419,20-04-2021,20-04-2021 00:00,831645,333961,118183,314886,29609,21419,4570,9017,...,8906.0,NaN,NaN,24576.0,316.0,305.0,71.8,68.1,1.00,1.00
420,21-04-2021,21-04-2021 00:00,832255,334246,118236,315075,29625,21438,4599,9036,...,8906.0,NaN,NaN,24653.0,287.0,303.0,72.7,68.9,0.98,0.99

In [4]:
port = port.drop(columns=["confirmados_desconhecidos_m","confirmados_desconhecidos_f","recuperados_acores",
                  "recuperados_arsalentejo","recuperados_arsalgarve","recuperados_arscentro","recuperados_arslvt",
                  "recuperados_arsnorte","recuperados_estrangeiro","recuperados_madeira","suspeitos","lab","n_confirmados",
                  "cadeias_transmissao","transmissao_importada","incidencia_continente","incidencia_nacional","rt_continente",
                  "rt_nacional","data_dados","confirmados","confirmados_estrangeiro", "obitos_estrangeiro","sintomas_cefaleia",
                  "sintomas_fraqueza_generalizada","sintomas_dificuldade_respiratoria","sintomas_dores_musculares",
                  "sintomas_febre","sintomas_tosse","confirmados_desconhecidos"])
# port[""]

In [5]:
port.shape

(421, 63)

In [6]:
port.columns

Index(['data', 'confirmados_arsnorte', 'confirmados_arscentro',
       'confirmados_arslvt', 'confirmados_arsalentejo',
       'confirmados_arsalgarve', 'confirmados_acores', 'confirmados_madeira',
       'confirmados_novos', 'recuperados', 'obitos', 'internados',
       'internados_uci', 'vigilancia', 'confirmados_0_9_f',
       'confirmados_0_9_m', 'confirmados_10_19_f', 'confirmados_10_19_m',
       'confirmados_20_29_f', 'confirmados_20_29_m', 'confirmados_30_39_f',
       'confirmados_30_39_m', 'confirmados_40_49_f', 'confirmados_40_49_m',
       'confirmados_50_59_f', 'confirmados_50_59_m', 'confirmados_60_69_f',
       'confirmados_60_69_m', 'confirmados_70_79_f', 'confirmados_70_79_m',
       'confirmados_80_plus_f', 'confirmados_80_plus_m', 'confirmados_f',
       'confirmados_m', 'obitos_arsnorte', 'obitos_arscentro', 'obitos_arslvt',
       'obitos_arsalentejo', 'obitos_arsalgarve', 'obitos_acores',
       'obitos_madeira', 'obitos_0_9_f', 'obitos_0_9_m', 'obitos_10_19_f',
       'obitos_10_19_m', 'obitos_20_29_f', 'obitos_20_29_m', 'obitos_30_39_f',
       'obitos_30_39_m', 'obitos_40_49_f', 'obitos_40_49_m', 'obitos_50_59_f',
       'obitos_50_59_m', 'obitos_60_69_f', 'obitos_60_69_m', 'obitos_70_79_f',
       'obitos_70_79_m', 'obitos_80_plus_f', 'obitos_80_plus_m', 'obitos_f',
       'obitos_m', 'ativos', 'internados_enfermaria'],
      dtype='object')

Tratar os NA's -> como parecem ser todos no inicio antes do aparecimento dos primeiros casos passam todos a 0

In [7]:
port = port.fillna(0)

In [8]:
port.isna().sum()

data                       0
confirmados_arsnorte       0
confirmados_arscentro      0
confirmados_arslvt         0
confirmados_arsalentejo    0
                          ..
obitos_80_plus_m           0
obitos_f                   0
obitos_m                   0
ativos                     0
internados_enfermaria      0
Length: 63, dtype: int64

Obter os valores específicos obtidos para cada dia em vez do valor total

In [9]:
#port["confirmados"] = port.loc[:,["confirmados"]].diff() #já existe o confirmados_novos
port["confirmados_arsnorte"] = port.loc[:,["confirmados_arsnorte"]].diff()
port["confirmados_arscentro"] = port.loc[:,["confirmados_arscentro"]].diff()
port["confirmados_arslvt"] = port.loc[:,["confirmados_arslvt"]].diff()
port["confirmados_arsalentejo"] = port.loc[:,["confirmados_arsalentejo"]].diff()
port["confirmados_arsalgarve"] = port.loc[:,["confirmados_arsalgarve"]].diff()
port["confirmados_acores"] = port.loc[:,["confirmados_acores"]].diff()
port["confirmados_madeira"] = port.loc[:,["confirmados_madeira"]].diff()
port["recuperados"] = port.loc[:,["recuperados"]].diff()
port["obitos"] = port.loc[:,["obitos"]].diff()
port["confirmados_0_9_m"] = port.loc[:,["confirmados_0_9_m"]].diff()
port["confirmados_0_9_f"] = port.loc[:,["confirmados_0_9_f"]].diff()
port["confirmados_10_19_m"] = port.loc[:,["confirmados_10_19_m"]].diff()
port["confirmados_10_19_f"] = port.loc[:,["confirmados_10_19_f"]].diff()
port["confirmados_20_29_m"] = port.loc[:,["confirmados_20_29_m"]].diff()
port["confirmados_20_29_f"] = port.loc[:,["confirmados_20_29_f"]].diff()
port["confirmados_30_39_m"] = port.loc[:,["confirmados_30_39_m"]].diff()
port["confirmados_30_39_f"] = port.loc[:,["confirmados_30_39_f"]].diff()
port["confirmados_40_49_m"] = port.loc[:,["confirmados_40_49_m"]].diff()
port["confirmados_40_49_f"] = port.loc[:,["confirmados_40_49_f"]].diff()
port["confirmados_50_59_m"] = port.loc[:,["confirmados_50_59_m"]].diff()
port["confirmados_50_59_f"] = port.loc[:,["confirmados_50_59_f"]].diff()
port["confirmados_60_69_m"] = port.loc[:,["confirmados_60_69_m"]].diff()
port["confirmados_60_69_f"] = port.loc[:,["confirmados_60_69_f"]].diff()
port["confirmados_70_79_m"] = port.loc[:,["confirmados_70_79_m"]].diff()
port["confirmados_70_79_f"] = port.loc[:,["confirmados_70_79_f"]].diff()
port["confirmados_80_plus_m"] = port.loc[:,["confirmados_80_plus_m"]].diff()
port["confirmados_80_plus_f"] = port.loc[:,["confirmados_80_plus_f"]].diff()
port["confirmados_m"] = port.loc[:,["confirmados_m"]].diff()
port["confirmados_f"] = port.loc[:,["confirmados_f"]].diff()
port["obitos_arsnorte"] = port.loc[:,["obitos_arsnorte"]].diff()
port["obitos_arscentro"] = port.loc[:,["obitos_arscentro"]].diff()
port["obitos_arslvt"] = port.loc[:,["obitos_arslvt"]].diff()
port["obitos_arsalentejo"] = port.loc[:,["obitos_arsalentejo"]].diff()
port["obitos_arsalgarve"] = port.loc[:,["obitos_arsalgarve"]].diff()
port["obitos_acores"] = port.loc[:,["obitos_acores"]].diff()
port["obitos_madeira"] = port.loc[:,["obitos_madeira"]].diff()
port["obitos_0_9_m"] = port.loc[:,["obitos_0_9_m"]].diff()
port["obitos_0_9_f"] = port.loc[:,["obitos_0_9_f"]].diff()
port["obitos_10_19_m"] = port.loc[:,["obitos_10_19_m"]].diff()
port["obitos_10_19_f"] = port.loc[:,["obitos_10_19_f"]].diff()
port["obitos_20_29_m"] = port.loc[:,["obitos_20_29_m"]].diff()
port["obitos_20_29_f"] = port.loc[:,["obitos_20_29_f"]].diff()
port["obitos_30_39_m"] = port.loc[:,["obitos_30_39_m"]].diff()
port["obitos_30_39_f"] = port.loc[:,["obitos_30_39_f"]].diff()
port["obitos_40_49_m"] = port.loc[:,["obitos_40_49_m"]].diff()
port["obitos_40_49_f"] = port.loc[:,["obitos_40_49_f"]].diff()
port["obitos_50_59_m"] = port.loc[:,["obitos_50_59_m"]].diff()
port["obitos_50_59_f"] = port.loc[:,["obitos_50_59_f"]].diff()
port["obitos_60_69_m"] = port.loc[:,["obitos_60_69_m"]].diff()
port["obitos_60_69_f"] = port.loc[:,["obitos_60_69_f"]].diff()
port["obitos_70_79_m"] = port.loc[:,["obitos_70_79_m"]].diff()
port["obitos_70_79_f"] = port.loc[:,["obitos_70_79_f"]].diff()
port["obitos_80_plus_m"] = port.loc[:,["obitos_80_plus_m"]].diff()
port["obitos_80_plus_f"] = port.loc[:,["obitos_80_plus_f"]].diff()
port["obitos_m"] = port.loc[:,["obitos_m"]].diff()
port["obitos_f"] = port.loc[:,["obitos_f"]].diff()
port["vigilancia"] = port.loc[:,["vigilancia"]].diff()
port["internados"] = port.loc[:,["internados"]].diff()
port["internados_enfermaria"] = port.loc[:,["internados_enfermaria"]].diff()
port["internados_uci"] = port.loc[:,["internados_uci"]].diff()
port["ativos"] = port.loc[:,["ativos"]].diff()

In [10]:
port.head(141)

,data,confirmados_arsnorte,confirmados_arscentro,confirmados_arslvt,confirmados_arsalentejo,confirmados_arsalgarve,confirmados_acores,confirmados_madeira,confirmados_novos,recuperados,...,obitos_60_69_f,obitos_60_69_m,obitos_70_79_f,obitos_70_79_m,obitos_80_plus_f,obitos_80_plus_m,obitos_f,obitos_m,ativos,internados_enfermaria
0,26-02-2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,27-02-2020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,28-02-2020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,29-02-2020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,01-03-2020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,11-07-2020,67.0,1.0,259.0,8.0,7.0,0.0,0.0,342,305.0,...,1.0,0.0,0.0,3.0,1.0,3.0,2.0,6.0,29.0,-14.0
137,12-07-2020,41.0,12.0,226.0,2.0,9.0,-1.0,2.0,291,252.0,...,1.0,0.0,1.0,1.0,0.0,3.0,2.0,4.0,33.0,7.0
138,13-07-2020,33.0,9.0,254.0,4.0,4.0,0.0,2.0,306,158.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,146.0,6.0
139,14-07-2020,42.0,21.0,143.0,10.0,17.0,0.0,0.0,233,485.0,...,0.0,0.0,2.0,1.0,3.0,0.0,5.0,1.0,-258.0,-1.0
140,15-07-2020,31.0,22.0,288.0,10.0,25.0,-1.0,0.0,375,560.0,...,0.0,0.0,0.0,0.0,6.0,2.0,6.0,2.0,-193.0,7.0

Tratar dos NA's do diff

In [11]:
port = port.fillna(0)

In [12]:
port['data'] = pd.to_datetime(port['data'],format="%d-%m-%Y")

In [13]:
rt = pd.read_excel("Datasets/Rt_nacional.xlsx")

In [14]:
rt = rt.drop(columns=["limite_inferior_IC95%","limite_superior_IC95%"])

In [15]:
rt

          Data  Rt_número_de_reprodução
0   2020-02-21                 1.633010
1   2020-02-22                 1.465792
2   2020-02-23                 1.497871
3   2020-02-24                 1.389304
4   2020-02-25                 1.775079
..         ...                      ...
425 2021-04-21                 0.984190
426 2021-04-22                 0.975970
427 2021-04-23                 0.983844
428 2021-04-24                 0.976956
429 2021-04-25                 0.964449

[430 rows x 2 columns]

In [16]:
rt = rt.groupby([pd.Grouper(key='Data', freq='W')]).mean()

In [17]:
rt

            Rt_número_de_reprodução
Data
2020-02-23                 1.532224
2020-03-01                 1.896517
2020-03-08                 1.680989
2020-03-15                 1.765696
2020-03-22                 1.539454
...                             ...
2021-03-28                 0.943944
2021-04-04                 1.016639
2021-04-11                 1.064734
2021-04-18                 0.998432
2021-04-25                 0.981560

[62 rows x 1 columns]

In [ ]:
agg_dict={"Rt_número_de_reprodução":"mean",
          "confirmados_arsnorte":"sum",
          "confirmados_arscentro":"sum",
          "confirmados_arslvt":"sum",
          "confirmados_arsalentejo":"sum",
          "confirmados_arsalgarve":"sum",
          "confirmados_acores":"sum",
          "confirmados_madeira":"sum",
          "recuperados":"sum",
          "obitos":"sum",
          "confirmados_0_9_m":"sum",
          "confirmados_0_9_f":"sum",
          "confirmados_10_19_m":"sum",
          "confirmados_10_19_f":"sum",
          "confirmados_20_29_m":"sum",
          "confirmados_20_29_f":"sum",
          "confirmados_30_39_m":"sum",
          "confirmados_30_39_f":"sum",
          "confirmados_40_49_m":"sum",
          "confirmados_40_49_m":"sum",
          "confirmados_50_59_m":"sum",
          "confirmados_50_59_m":"sum",
          "confirmados_60_69_m":"sum",
          "confirmados_60_69_m":"sum",
          "confirmados_70_79_m":"sum",
          "confirmados_70_79_m":"sum",
          "confirmados_80_plus_m":"sum",
          "confirmados_80_plus_m":"sum",
          "confirmados_m":"sum",            
          "confirmados_f" :"sum",
          "obitos_arsnorte" :"sum",
          "obitos_arscentro" :"sum",
          "obitos_arslvt" :"sum",
          "obitos_arsalentejo" :"sum",
          "obitos_arsalgarve" :"sum",
          "obitos_acores" :"sum",
          "obitos_madeira" :"sum",
          "obitos_0_9_m" :"sum",
          "obitos_0_9_f" :"sum",
          "obitos_10_19_m" :"sum",
          "obitos_10_19_f" :"sum",
          "obitos_20_29_m" :"sum",
          "obitos_20_29_f" :"sum",
          "obitos_30_39_m" :"sum",
          "obitos_30_39_f" :"sum",
          "obitos_40_49_m" :"sum",
          "obitos_40_49_f" :"sum",
          "obitos_50_59_m" :"sum",
          "obitos_50_59_f" :"sum",
          "obitos_60_69_m" :"sum",
          "obitos_60_69_f" :"sum",
          "obitos_70_79_m" :"sum",
          "obitos_70_79_f" :"sum",
          "obitos_80_plus_m" :"sum",
          "obitos_80_plus_f" :"sum",
          "obitos_m" :"sum",
          "obitos_f" :"sum"}

In [19]:
port = port.groupby([pd.Grouper(key='data', freq='W')]).sum().reset_index().sort_values('data')
# port2 = port1.groupby([pd.Grouper(key='data', freq='W')]).agg(agg_dict)

In [20]:
port

,data,confirmados_arsnorte,confirmados_arscentro,confirmados_arslvt,confirmados_arsalentejo,confirmados_arsalgarve,confirmados_acores,confirmados_madeira,confirmados_novos,recuperados,...,obitos_60_69_f,obitos_60_69_m,obitos_70_79_f,obitos_70_79_m,obitos_80_plus_f,obitos_80_plus_m,obitos_f,obitos_m,ativos,internados_enfermaria
0,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2020-03-08,22.0,1.0,6.0,0.0,1.0,0.0,0.0,30,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30.0,0.0
2,2020-03-15,81.0,9.0,110.0,0.0,9.0,1.0,0.0,215,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,213.0,130.0
3,2020-03-22,722.0,170.0,418.0,5.0,25.0,3.0,7.0,1355,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1338.0,-2.0
4,2020-03-29,2725.0,529.0,944.0,36.0,73.0,29.0,36.0,4362,38.0,...,1.0,14.0,7.0,20.0,32.0,38.0,43.0,76.0,4219.0,220.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,2021-03-28,739.0,357.0,1155.0,155.0,192.0,81.0,198.0,2877,8072.0,...,2.0,3.0,5.0,9.0,27.0,18.0,34.0,35.0,-5264.0,-104.0
57,2021-04-04,882.0,297.0,1243.0,118.0,213.0,51.0,124.0,2928,4931.0,...,0.0,7.0,4.0,7.0,14.0,9.0,19.0,23.0,-2045.0,-91.0
58,2021-04-11,1307.0,475.0,1460.0,176.0,316.0,264.0,161.0,4159,4296.0,...,2.0,5.0,1.0,11.0,8.0,9.0,12.0,25.0,-174.0,-47.0
59,2021-04-18,1323.0,335.0,1062.0,213.0,240.0,190.0,144.0,3507,4051.0,...,1.0,3.0,3.0,5.0,8.0,8.0,12.0,17.0,-573.0,-34.0
60,2021-04-25,511.0,111.0,398.0,66.0,52.0,59.0,57.0,1254,1981.0,...,-459.0,-1057.0,-1328.0,-2274.0,-6036.0,-5120.0,4.0,3.0,-734.0,-32.0

In [21]:
port1 = pd.merge(port, rt, left_on="data", right_on="Data", how = "left")

In [22]:
port1.head(20)

,data,confirmados_arsnorte,confirmados_arscentro,confirmados_arslvt,confirmados_arsalentejo,confirmados_arsalgarve,confirmados_acores,confirmados_madeira,confirmados_novos,recuperados,...,obitos_60_69_m,obitos_70_79_f,obitos_70_79_m,obitos_80_plus_f,obitos_80_plus_m,obitos_f,obitos_m,ativos,internados_enfermaria,Rt_número_de_reprodução
0,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.896517
1,2020-03-08,22.0,1.0,6.0,0.0,1.0,0.0,0.0,30,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30.0,0.0,1.680989
2,2020-03-15,81.0,9.0,110.0,0.0,9.0,1.0,0.0,215,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,213.0,130.0,1.765696
3,2020-03-22,722.0,170.0,418.0,5.0,25.0,3.0,7.0,1355,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1338.0,-2.0,1.539454
4,2020-03-29,2725.0,529.0,944.0,36.0,73.0,29.0,36.0,4362,38.0,...,14.0,7.0,20.0,32.0,38.0,43.0,76.0,4219.0,220.0,1.215434
5,2020-04-05,2980.0,733.0,1426.0,41.0,93.0,34.0,9.0,5316,32.0,...,7.0,17.0,22.0,60.0,60.0,84.0,92.0,5108.0,469.0,1.000944
6,2020-04-12,3217.0,984.0,937.0,57.0,78.0,27.0,7.0,5307,202.0,...,14.0,16.0,26.0,88.0,49.0,113.0,96.0,4896.0,132.0,0.919165
7,2020-04-19,2401.0,497.0,659.0,19.0,31.0,12.0,2.0,3621,333.0,...,8.0,23.0,20.0,81.0,62.0,116.0,94.0,3078.0,70.0,0.929326
8,2020-04-26,2057.0,309.0,1031.0,29.0,12.0,14.0,25.0,3477,719.0,...,9.0,10.0,21.0,84.0,55.0,99.0,90.0,2569.0,-196.0,0.886670
9,2020-05-03,816.0,215.0,516.0,31.0,9.0,12.0,0.0,1599,360.0,...,6.0,11.0,14.0,51.0,43.0,72.0,68.0,1099.0,-111.0,0.837312
10,2020-05-10,931.0,134.0,1195.0,17.0,15.0,3.0,4.0,2299,860.0,...,5.0,10.0,10.0,43.0,17.0,55.0,37.0,1347.0,-27.0,0.918335
11,2020-05-17,400.0,45.0,993.0,7.0,10.0,0.0,0.0,1455,2087.0,...,9.0,6.0,6.0,29.0,23.0,42.0,41.0,-715.0,-144.0,0.959061
12,2020-05-24,326.0,57.0,1188.0,11.0,5.0,0.0,0.0,1587,12913.0,...,3.0,5.0,9.0,42.0,36.0,49.0,49.0,-11424.0,-83.0,1.009665
13,2020-05-31,82.0,61.0,1719.0,6.0,9.0,0.0,0.0,1877,1860.0,...,7.0,6.0,15.0,31.0,24.0,44.0,50.0,-77.0,-48.0,1.042624
14,2020-06-07,149.0,79.0,1931.0,9.0,19.0,6.0,0.0,2193,1586.0,...,5.0,1.0,7.0,29.0,23.0,32.0,37.0,538.0,-70.0,1.026311
15,2020-06-14,169.0,51.0,1755.0,14.0,6.0,2.0,0.0,1997,1674.0,...,6.0,4.0,5.0,11.0,10.0,15.0,23.0,285.0,6.0,0.965192
16,2020-06-21,171.0,117.0,1934.0,92.0,126.0,1.0,2.0,2443,2707.0,...,1.0,2.0,3.0,3.0,3.0,6.0,7.0,-277.0,-8.0,1.083548
17,2020-06-28,227.0,103.0,1990.0,97.0,91.0,5.0,0.0,2513,1690.0,...,3.0,1.0,4.0,9.0,12.0,13.0,21.0,789.0,45.0,1.024257
18,2020-07-05,272.0,95.0,1975.0,56.0,50.0,2.0,1.0,2451,1951.0,...,3.0,4.0,5.0,22.0,12.0,28.0,22.0,450.0,48.0,0.999886
19,2020-07-12,361.0,78.0,1884.0,45.0,42.0,1.0,4.0,2415,1890.0,...,2.0,3.0,7.0,12.0,17.0,19.0,27.0,479.0,-33.0,0.970591

In [23]:
temp1 = pd.read_csv("Datasets/temp_portugal_01012020_31032020.csv", sep = ",")
temp2 = pd.read_csv("Datasets/temp_portugal_01042020_30062020.csv", sep = ",")
temp3 = pd.read_csv("Datasets/temp_portugal_01072020_30092020.csv", sep = ",")
temp4 = pd.read_csv("Datasets/temp_portugal_01102020_31122020.csv", sep = ",")
temp5 = pd.read_csv("Datasets/temp_portugal_01012021_31032021.csv", sep = ",")
temp6 = pd.read_csv("Datasets/temp_portugal_042021.csv", sep = ",")

df_temp = temp1.append(temp2, ignore_index = True)
df_temp = df_temp.append(temp3, ignore_index = True)
df_temp = df_temp.append(temp4, ignore_index = True)
df_temp = df_temp.append(temp5, ignore_index = True)
df_temp = df_temp.append(temp6, ignore_index = True)

In [24]:
df_temp

,Name,Date time,Maximum Temperature,Minimum Temperature,Temperature,Wind Chill,Heat Index,Precipitation,Snow,Snow Depth,Wind Speed,Wind Direction,Wind Gust,Visibility,Cloud Cover,Relative Humidity,Conditions
0,Portugal,01/01/2020,13.9,6.9,9.6,5.3,NaN,0.20,0,0,9.0,114.04,24.1,5.4,5.2,91.29,Rain
1,Portugal,01/02/2020,12.0,8.0,10.1,7.3,NaN,0.10,0,0,10.4,57.96,31.7,6.6,10.7,91.84,Rain
2,Portugal,01/03/2020,16.9,11.0,13.1,NaN,NaN,0.00,0,0,8.4,153.71,24.1,9.8,9.9,80.97,Clear
3,Portugal,01/04/2020,15.1,9.6,12.2,8.7,NaN,0.00,0,0,17.6,100.58,NaN,9.3,4.6,78.63,Clear
4,Portugal,01/05/2020,13.0,7.4,10.1,5.3,NaN,0.00,0,0,16.4,81.50,35.3,11.1,0.0,75.41,Clear
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481,Portugal,04/26/2021,19.7,14.1,16.1,NaN,NaN,12.86,0,0,14.4,108.83,40.7,11.1,13.7,85.70,Rain
482,Portugal,04/27/2021,20.2,14.1,16.8,NaN,NaN,0.10,0,0,18.0,279.00,NaN,11.8,10.6,74.68,Rain
483,Portugal,04/28/2021,18.1,12.7,15.1,NaN,NaN,0.54,0,0,22.0,278.38,NaN,11.5,15.0,77.22,Rain
484,Portugal,04/29/2021,18.1,11.6,14.7,NaN,NaN,0.00,0,0,21.0,318.67,NaN,12.2,11.2,59.32,Clear
485,Portugal,04/30/2021,17.4,11.0,13.7,NaN,NaN,0.00,0,0,23.6,323.18,NaN,10.0,34.4,62.32,Partially cloudy

In [25]:
def condition_ohe_rain(condition):
    res =0
    if(condition == 'Rain' or condition == 'Rain, Partially cloudy'):
        res=1

    return res

def condition_ohe_clear(condition):
    res =0
    if(condition == 'Clear'):
        res=1

    return res


def condition_ohe_cloudy(condition):
    res =0
    if(condition == 'Rain, Partially cloudy' or condition == 'Partially cloudy'):
        res=1

    return res

In [26]:
df_temp1 = df_temp.copy()
df_temp1 = df_temp1.drop(columns=['Name','Wind Chill','Heat Index', 'Wind Gust', 'Snow', 'Snow Depth'])
#print(df_aux.shape)

#rename columns
df_temp1.columns = ['Date', 'Max_Temp','Min_Temp','Temperature','Precipitation','Wind_Speed','Wind_Direction','Visibility','Cloud_Cover','Relative_Humidity','Conditions']

#one hot encoding weather conditions
df_temp1['Rain'] = np.nan
df_temp1['Clear'] = np.nan
df_temp1['Partially_cloudy'] = np.nan
    
df_temp1['Rain'] = df_temp1.apply(lambda x: condition_ohe_rain(x['Conditions']), axis=1)
df_temp1['Clear'] = df_temp1.apply(lambda x: condition_ohe_clear(x['Conditions']), axis=1)
df_temp1['Partially_cloudy'] = df_temp1.apply(lambda x: condition_ohe_cloudy(x['Conditions']), axis=1)

df_temp1 = df_temp1.drop(columns='Conditions')

df_temp1["Date"] = pd.to_datetime(df_temp1['Date'],format="%m/%d/%Y")

In [27]:
df_temp1

,Date,Max_Temp,Min_Temp,Temperature,Precipitation,Wind_Speed,Wind_Direction,Visibility,Cloud_Cover,Relative_Humidity,Rain,Clear,Partially_cloudy
0,2020-01-01,13.9,6.9,9.6,0.20,9.0,114.04,5.4,5.2,91.29,1,0,0
1,2020-01-02,12.0,8.0,10.1,0.10,10.4,57.96,6.6,10.7,91.84,1,0,0
2,2020-01-03,16.9,11.0,13.1,0.00,8.4,153.71,9.8,9.9,80.97,0,1,0
3,2020-01-04,15.1,9.6,12.2,0.00,17.6,100.58,9.3,4.6,78.63,0,1,0
4,2020-01-05,13.0,7.4,10.1,0.00,16.4,81.50,11.1,0.0,75.41,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
481,2021-04-26,19.7,14.1,16.1,12.86,14.4,108.83,11.1,13.7,85.70,1,0,0
482,2021-04-27,20.2,14.1,16.8,0.10,18.0,279.00,11.8,10.6,74.68,1,0,0
483,2021-04-28,18.1,12.7,15.1,0.54,22.0,278.38,11.5,15.0,77.22,1,0,0
484,2021-04-29,18.1,11.6,14.7,0.00,21.0,318.67,12.2,11.2,59.32,0,1,0
485,2021-04-30,17.4,11.0,13.7,0.00,23.6,323.18,10.0,34.4,62.32,0,0,1

In [28]:
df_temp2 = df_temp1.groupby([pd.Grouper(key='Date', freq='W')]).mean()

In [29]:
df_temp2.head(20)

,Max_Temp,Min_Temp,Temperature,Precipitation,Wind_Speed,Wind_Direction,Visibility,Cloud_Cover,Relative_Humidity,Rain,Clear,Partially_cloudy
Date,,,,,,,,,,,,
2020-01-05,14.180000,8.580000,11.020000,0.060000,12.360000,101.558000,8.440000,6.080000,83.628000,0.400000,0.600000,0.000000
2020-01-12,14.885714,7.700000,11.042857,0.000000,15.000000,197.744286,10.200000,5.385714,75.838571,0.000000,1.000000,0.000000
2020-01-19,16.242857,11.257143,13.528571,6.228571,27.014286,172.607143,9.128571,8.528571,85.755714,1.000000,0.000000,0.000000
2020-01-26,13.128571,8.185714,10.228571,1.455714,21.300000,84.717143,10.771429,5.757143,76.795714,0.714286,0.285714,0.000000
2020-02-02,17.085714,13.571429,15.028571,4.554286,20.585714,196.184286,8.914286,8.728571,94.381429,0.857143,0.142857,0.000000
2020-02-09,18.300000,11.128571,14.100000,0.155714,15.385714,157.008571,10.085714,5.342857,84.118571,0.285714,0.714286,0.000000
2020-02-16,16.628571,10.971429,13.600000,0.242857,12.257143,222.365714,9.542857,7.228571,88.115714,0.428571,0.571429,0.000000
2020-02-23,19.128571,10.814286,14.928571,0.397143,19.271429,181.900000,11.014286,3.300000,63.567143,0.142857,0.857143,0.000000
2020-03-01,18.557143,11.442857,14.457143,0.615714,22.271429,247.387143,10.614286,4.885714,76.040000,0.428571,0.571429,0.000000
2020-03-08,18.271429,11.628571,14.614286,0.648571,23.671429,251.834286,11.114286,6.442857,74.551429,0.571429,0.428571,0.000000
2020-03-15,21.385714,11.714286,16.014286,0.000000,20.614286,257.524286,11.085714,3.800000,68.810000,0.000000,1.000000,0.000000
2020-03-22,17.785714,11.071429,14.171429,0.972857,22.900000,185.542857,10.400000,1.571429,67.730000,0.428571,0.571429,0.000000
2020-03-29,19.100000,11.228571,14.657143,0.000000,21.771429,187.704286,10.500000,2.028571,67.115714,0.000000,1.000000,0.000000
2020-04-05,16.471429,9.500000,12.685714,6.472857,25.214286,184.061429,10.157143,2.700000,79.957143,0.714286,0.285714,0.000000
2020-04-12,19.542857,13.742857,16.071429,6.721429,19.314286,231.340000,8.900000,4.585714,87.512857,0.571429,0.428571,0.000000
2020-04-19,18.814286,12.371429,15.000000,9.127143,25.414286,214.632857,10.200000,3.057143,81.461429,0.714286,0.285714,0.000000
2020-04-26,19.457143,12.257143,15.385714,2.724286,21.485714,283.565714,10.385714,3.942857,75.798571,0.285714,0.714286,0.000000
2020-05-03,21.900000,13.842857,17.214286,1.218571,20.171429,212.398571,10.300000,2.771429,78.905714,0.571429,0.428571,0.000000
2020-05-10,20.871429,14.500000,17.442857,1.182857,24.228571,250.527143,10.285714,20.157143,78.655714,0.285714,0.714286,0.285714
2020-05-17,19.957143,13.528571,16.414286,10.372857,20.257143,181.935714,10.228571,15.400000,79.625714,0.714286,0.285714,0.428571

In [30]:
port1 = pd.merge(port1, df_temp2, left_on="data", right_on="Date", how = "left")

In [31]:
port1

,data,confirmados_arsnorte,confirmados_arscentro,confirmados_arslvt,confirmados_arsalentejo,confirmados_arsalgarve,confirmados_acores,confirmados_madeira,confirmados_novos,recuperados,...,Temperature,Precipitation,Wind_Speed,Wind_Direction,Visibility,Cloud_Cover,Relative_Humidity,Rain,Clear,Partially_cloudy
0,2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,...,14.457143,0.615714,22.271429,247.387143,10.614286,4.885714,76.040000,0.428571,0.571429,0.000000
1,2020-03-08,22.0,1.0,6.0,0.0,1.0,0.0,0.0,30,0.0,...,14.614286,0.648571,23.671429,251.834286,11.114286,6.442857,74.551429,0.571429,0.428571,0.000000
2,2020-03-15,81.0,9.0,110.0,0.0,9.0,1.0,0.0,215,2.0,...,16.014286,0.000000,20.614286,257.524286,11.085714,3.800000,68.810000,0.000000,1.000000,0.000000
3,2020-03-22,722.0,170.0,418.0,5.0,25.0,3.0,7.0,1355,3.0,...,14.171429,0.972857,22.900000,185.542857,10.400000,1.571429,67.730000,0.428571,0.571429,0.000000
4,2020-03-29,2725.0,529.0,944.0,36.0,73.0,29.0,36.0,4362,38.0,...,14.657143,0.000000,21.771429,187.704286,10.500000,2.028571,67.115714,0.000000,1.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,2021-03-28,739.0,357.0,1155.0,155.0,192.0,81.0,198.0,2877,8072.0,...,14.785714,0.000000,18.914286,208.292857,10.485714,0.771429,59.792857,0.000000,1.000000,0.000000
57,2021-04-04,882.0,297.0,1243.0,118.0,213.0,51.0,124.0,2928,4931.0,...,16.885714,0.830000,20.700000,185.434286,10.214286,3.000000,71.342857,0.142857,0.857143,0.000000
58,2021-04-11,1307.0,475.0,1460.0,176.0,316.0,264.0,161.0,4159,4296.0,...,16.157143,2.202857,20.542857,231.942857,10.428571,5.657143,72.708571,0.285714,0.714286,0.000000
59,2021-04-18,1323.0,335.0,1062.0,213.0,240.0,190.0,144.0,3507,4051.0,...,16.300000,3.117143,15.671429,179.115714,10.571429,9.985714,75.531429,0.714286,0.285714,0.142857
60,2021-04-25,511.0,111.0,398.0,66.0,52.0,59.0,57.0,1254,1981.0,...,16.571429,2.767143,23.042857,237.281429,10.928571,7.242857,76.915714,0.714286,0.285714,0.000000

In [32]:
port1.dtypes

data                       datetime64[ns]
confirmados_arsnorte              float64
confirmados_arscentro             float64
confirmados_arslvt                float64
confirmados_arsalentejo           float64
                                ...
Cloud_Cover                       float64
Relative_Humidity                 float64
Rain                              float64
Clear                             float64
Partially_cloudy                  float64
Length: 76, dtype: object

In [33]:
port1[-35:]

,data,confirmados_arsnorte,confirmados_arscentro,confirmados_arslvt,confirmados_arsalentejo,confirmados_arsalgarve,confirmados_acores,confirmados_madeira,confirmados_novos,recuperados,...,Temperature,Precipitation,Wind_Speed,Wind_Direction,Visibility,Cloud_Cover,Relative_Humidity,Rain,Clear,Partially_cloudy
26,2020-08-30,847.0,139.0,1031.0,50.0,77.0,10.0,17.0,2171,1111.0,...,23.328571,0.000000,26.657143,314.245714,11.642857,3.314286,62.755714,0.000000,1.000000,0.000000
27,2020-09-06,1021.0,161.0,1179.0,48.0,60.0,8.0,13.0,2490,1068.0,...,24.685714,0.000000,22.114286,232.542857,11.728571,0.928571,45.544286,0.000000,1.000000,0.000000
28,2020-09-13,1436.0,267.0,1769.0,149.0,69.0,21.0,14.0,3725,1116.0,...,24.785714,0.000000,20.128571,199.107143,11.371429,3.400000,53.101429,0.000000,1.000000,0.000000
29,2020-09-20,1562.0,393.0,2272.0,184.0,158.0,5.0,20.0,4594,1527.0,...,20.657143,4.094286,25.657143,208.018571,10.985714,12.171429,85.410000,0.571429,0.428571,0.000000
30,2020-09-27,1612.0,396.0,2624.0,169.0,189.0,24.0,13.0,5027,2051.0,...,19.957143,0.144286,23.157143,231.438571,10.671429,4.000000,76.561429,0.285714,0.714286,0.000000
31,2020-10-04,2177.0,406.0,2616.0,79.0,226.0,17.0,26.0,5547,2560.0,...,18.728571,0.400000,21.742857,284.921429,10.700000,3.771429,70.401429,0.428571,0.571429,0.000000
32,2020-10-11,3761.0,572.0,2897.0,64.0,167.0,11.0,41.0,7513,2980.0,...,19.914286,0.000000,20.328571,249.114286,10.885714,2.428571,69.422857,0.000000,1.000000,0.000000
33,2020-10-18,7104.0,1219.0,4271.0,361.0,225.0,23.0,44.0,13247,5813.0,...,16.714286,0.000000,22.757143,232.738571,10.371429,2.528571,66.352857,0.000000,1.000000,0.000000
34,2020-10-25,10850.0,1737.0,5420.0,421.0,270.0,22.0,55.0,18775,9877.0,...,16.385714,22.595714,25.514286,219.798571,9.657143,7.100000,88.542857,0.714286,0.285714,0.000000
35,2020-11-01,14644.0,2766.0,7387.0,396.0,369.0,30.0,63.0,25655,12894.0,...,16.771429,0.945714,14.985714,192.901429,10.514286,11.342857,78.102857,0.428571,0.428571,0.142857
36,2020-11-08,21341.0,3630.0,8579.0,644.0,603.0,85.0,101.0,34983,18010.0,...,15.571429,5.312857,25.300000,205.894286,11.000000,6.242857,80.688571,0.571429,0.428571,0.000000
37,2020-11-15,23577.0,4215.0,8916.0,527.0,513.0,150.0,79.0,37977,25285.0,...,15.900000,0.522857,14.014286,136.644286,9.685714,6.585714,86.657143,0.714286,0.285714,0.000000
38,2020-11-22,25502.0,4451.0,11269.0,1190.0,725.0,174.0,146.0,43457,47853.0,...,16.828571,0.000000,16.500000,89.437143,9.814286,5.100000,73.344286,0.000000,1.000000,0.000000
39,2020-11-29,19327.0,4256.0,8701.0,841.0,590.0,211.0,115.0,34041,36615.0,...,12.714286,11.910000,17.514286,160.375714,10.314286,7.328571,84.678571,0.714286,0.285714,0.000000
40,2020-12-06,15031.0,3593.0,7537.0,848.0,410.0,181.0,75.0,27675,33521.0,...,11.700000,5.745714,19.728571,202.221429,10.514286,5.528571,79.661429,0.571429,0.428571,0.000000
41,2020-12-13,12878.0,3754.0,7873.0,1047.0,464.0,164.0,90.0,26270,28267.0,...,14.771429,3.797143,19.685714,265.047143,8.657143,15.128571,89.585714,1.000000,0.000000,0.000000
42,2020-12-20,11453.0,4275.0,7630.0,1163.0,446.0,223.0,187.0,25377,25911.0,...,13.185714,14.425714,22.271429,224.560000,9.957143,8.385714,86.258571,0.857143,0.142857,0.000000
43,2020-12-27,8533.0,3428.0,6453.0,1177.0,523.0,135.0,203.0,20452,22513.0,...,11.242857,1.357143,20.457143,144.407143,10.042857,8.300000,73.898571,0.285714,0.714286,0.142857
44,2021-01-03,12446.0,5928.0,11343.0,1438.0,1036.0,236.0,254.0,32681,22789.0,...,9.642857,2.987143,17.700000,285.012857,11.242857,10.014286,77.690000,0.857143,0.142857,0.000000
45,2021-01-10,19872.0,10675.0,19875.0,3094.0,2047.0,488.0,384.0,56435,26573.0,...,7.014286,0.085714,24.271429,119.338571,11.300000,4.128571,60.327143,0.285714,0.714286,0.000000
46,2021-01-17,21305.0,12429.0,25668.0,3423.0,2265.0,495.0,527.0,66112,37821.0,...,8.757143,0.000000,15.871429,131.530000,10.485714,2.014286,68.215714,0.000000,1.000000,0.000000
47,2021-01-24,28136.0,15963.0,34934.0,3795.0,2605.0,317.0,639.0,86389,49562.0,...,12.557143,9.024286,26.757143,207.245714,8.800000,6.857143,85.085714,0.857143,0.142857,0.000000
48,2021-01-31,21888.0,13221.0,43040.0,2918.0,2173.0,277.0,809.0,84326,69920.0,...,14.257143,4.460000,18.257143,220.242857,8.071429,16.785714,92.447143,1.000000,0.000000,0.142857
49,2021-02-07,10817.0,6690.0,22868.0,2026.0,1476.0,107.0,914.0,44898,79755.0,...,12.842857,6.481429,24.871429,234.308571,9.728571,25.257143,84.547143,0.857143,0.000000,0.142857
50,2021-02-14,4768.0,3071.0,10526.0,778.0,654.0,58.0,487.0,20342,59150.0,...,13.442857,5.054286,21.600000,211.935714,9.085714,25.528571,86.524286,0.571429,0.142857,0.285714
51,2021-02-21,2795.0,1755.0,5811.0,424.0,442.0,46.0,496.0,11769,33906.0,...,13.600000,7.004286,24.942857,196.077143,9.514286,14.400000,86.778571,0.428571,0.428571,0.285714
52,2021-02-28,1692.0,906.0,3292.0,318.0,288.0,35.0,506.0,7037,19755.0,...,13.685714,1.211429,17.214286,150.715714,10.171429,2.728571,78.784286,0.714286,0.285714,0.000000
53,2021-03-07,1273.0,672.0,2242.0,169.0,141.0,49.0,986.0,5532,12590.0,...,13.971429,3.235714,17.071429,170.287143,9.942857,2.771429,75.610000,0.285714,0.714286,0.000000
54,2021-03-14,925.0,590.0,1704.0,125.0,81.0,77.0,661.0,4163,27850.0,...,13.171429,0.014286,19.871429,262.954286,10.471429,2.214286,67.871429,0.142857,0.857143,0.000000
55,2021-03-21,982.0,442.0,1277.0,144.0,105.0,76.0,247.0,3273,7902.0,...,15.171429,0.000000,26.214286,98.768571,10.500000,0.071429,44.905714,0.000000,1.000000,0.000000
56,2021-03-28,739.0,357.0,1155.0,155.0,192.0,81.0,198.0,2877,8072.0,...,14.785714,0.000000,18.914286,208.292857,10.485714,0.771429,59.792857,0.000000,1.000000,0.000000
57,2021-04-04,882.0,297.0,1243.0,118.0,213.0,51.0,124.0,2928,4931.0,...,16.885714,0.830000,20.700000,185.434286,10.214286,3.000000,71.342857,0.142857,0.857143,0.000000
58,2021-04-11,1307.0,475.0,1460.0,176.0,316.0,264.0,161.0,4159,4296.0,...,16.157143,2.202857,20.542857,231.942857,10.428571,5.657143,72.708571,0.285714,0.714286,0.000000
59,2021-04-18,1323.0,335.0,1062.0,213.0,240.0,190.0,144.0,3507,4051.0,...,16.300000,3.117143,15.671429,179.115714,10.571429,9.985714,75.531429,0.714286,0.285714,0.142857
60,2021-04-25,511.0,111.0,398.0,66.0,52.0,59.0,57.0,1254,1981.0,...,16.571429,2.767143,23.042857,237.281429,10.928571,7.242857,76.915714,0.714286,0.285714,0.000000

In [34]:
flights = pd.read_csv("Datasets/total-number-of-flights.csv",sep=";")

In [35]:
flights = flights.drop(columns=["2021 7-day moving average", "2020 7-day moving average", "2019 7-day moving average"])

In [36]:
flights

,DateTime,2021 Number of flights,2020 Number of flights,2019 Number of flights
0,2021-01-01,93897.0,144067,128717
1,2021-01-02,120291.0,175861,162303
2,2021-01-03,130037.0,175444,169310
3,2021-01-04,137935.0,165733,173386
4,2021-01-05,138303.0,172605,161288
...,...,...,...,...
360,2021-12-27,NaN,137385,178009
361,2021-12-28,NaN,133896,168658
362,2021-12-29,NaN,143506,161805
363,2021-12-30,NaN,142838,171314
364,2021-12-31,NaN,116553,160672

In [37]:
flights_21 = flights.drop(columns=["2020 Number of flights","2019 Number of flights"])

In [38]:
flights_21.columns = ["Date", "flights"]

In [39]:
index = pd.date_range(start="1/1/2020", end="31/12/2020")

In [40]:
df = pd.DataFrame(columns=["Date","flights"])

In [41]:
df["Date"] = index
df["flights"] = flights["2020 Number of flights"]

In [42]:
df = df.append(flights_21, ignore_index = True)

In [43]:
df

                    Date   flights
0    2020-01-01 00:00:00  144067.0
1    2020-01-02 00:00:00  175861.0
2    2020-01-03 00:00:00  175444.0
3    2020-01-04 00:00:00  165733.0
4    2020-01-05 00:00:00  172605.0
..                   ...       ...
726           2021-12-27       NaN
727           2021-12-28       NaN
728           2021-12-29       NaN
729           2021-12-30       NaN
730           2021-12-31       NaN

[731 rows x 2 columns]

In [44]:
commercial_flights = pd.read_csv("Datasets/number-of-commercial-fli.csv",sep=";")

In [45]:
commercial_flights

,DateTime,2021 7-day moving average,2021 Number of flights,2020 7-day moving average,2020 Number of flights,2019 7-day moving average,2019 Number of flights
0,2021-01-01,68909.0,55951.0,108395,97332,102167,92417
1,2021-01-02,69069.0,67204.0,109083,113603,103033,108056
2,2021-01-03,69390.0,74148.0,109020,117059,103196,111162
3,2021-01-04,69661.0,73561.0,108889,108566,103128,110640
4,2021-01-05,69282.0,70386.0,109028,110585,102787,101581
...,...,...,...,...,...,...,...
360,2021-12-27,NaN,NaN,70461,71903,108607,117498
361,2021-12-28,NaN,NaN,70028,71664,108049,109482
362,2021-12-29,NaN,NaN,69488,73038,107679,109616
363,2021-12-30,NaN,NaN,69117,76191,107173,112022
364,2021-12-31,NaN,NaN,68899,67537,107148,104030

In [46]:
commercial_flights = commercial_flights.drop(columns=["2021 7-day moving average", "2020 7-day moving average", "2019 7-day moving average"])

In [47]:
comm_flights_21 = commercial_flights.drop(columns=["2020 Number of flights","2019 Number of flights"])

In [48]:
comm_flights_21.columns = ["Date", "commercial_flights"]

In [49]:
comm_flights_21

           Date  commercial_flights
0    2021-01-01             55951.0
1    2021-01-02             67204.0
2    2021-01-03             74148.0
3    2021-01-04             73561.0
4    2021-01-05             70386.0
..          ...                 ...
360  2021-12-27                 NaN
361  2021-12-28                 NaN
362  2021-12-29                 NaN
363  2021-12-30                 NaN
364  2021-12-31                 NaN

[365 rows x 2 columns]

In [50]:
index = pd.date_range(start="1/1/2020", end="31/12/2020")

In [51]:
df2 = pd.DataFrame(columns=["Date","commercial_flights"])

In [52]:
df2["Date"] = index
df2["commercial_flights"] = commercial_flights["2020 Number of flights"]

In [53]:
df2 = df2.append(comm_flights_21, ignore_index = True)

In [54]:
df2

                    Date  commercial_flights
0    2020-01-01 00:00:00             97332.0
1    2020-01-02 00:00:00            113603.0
2    2020-01-03 00:00:00            117059.0
3    2020-01-04 00:00:00            108566.0
4    2020-01-05 00:00:00            110585.0
..                   ...                 ...
726           2021-12-27                 NaN
727           2021-12-28                 NaN
728           2021-12-29                 NaN
729           2021-12-30                 NaN
730           2021-12-31                 NaN

[731 rows x 2 columns]

In [55]:
flights_col = pd.merge(df,df2,on="Date")

In [56]:
flights_col

                    Date   flights  commercial_flights
0    2020-01-01 00:00:00  144067.0             97332.0
1    2020-01-02 00:00:00  175861.0            113603.0
2    2020-01-03 00:00:00  175444.0            117059.0
3    2020-01-04 00:00:00  165733.0            108566.0
4    2020-01-05 00:00:00  172605.0            110585.0
..                   ...       ...                 ...
726           2021-12-27       NaN                 NaN
727           2021-12-28       NaN                 NaN
728           2021-12-29       NaN                 NaN
729           2021-12-30       NaN                 NaN
730           2021-12-31       NaN                 NaN

[731 rows x 3 columns]

In [57]:
flights_col['Date'] = pd.to_datetime(flights_col['Date'])

In [58]:
flights_col

          Date   flights  commercial_flights
0   2020-01-01  144067.0             97332.0
1   2020-01-02  175861.0            113603.0
2   2020-01-03  175444.0            117059.0
3   2020-01-04  165733.0            108566.0
4   2020-01-05  172605.0            110585.0
..         ...       ...                 ...
726 2021-12-27       NaN                 NaN
727 2021-12-28       NaN                 NaN
728 2021-12-29       NaN                 NaN
729 2021-12-30       NaN                 NaN
730 2021-12-31       NaN                 NaN

[731 rows x 3 columns]

In [59]:
flights_col = flights_col.groupby([pd.Grouper(key='Date', freq='W')]).mean()

In [60]:
flights_col

                  flights  commercial_flights
Date
2020-01-05  166742.000000       109429.000000
2020-01-12  176103.000000       111337.142857
2020-01-19  176331.285714       111249.571429
2020-01-26  181449.000000       111437.857143
2020-02-02  174770.285714       106937.285714
...                   ...                 ...
2021-12-05            NaN                 NaN
2021-12-12            NaN                 NaN
2021-12-19            NaN                 NaN
2021-12-26            NaN                 NaN
2022-01-02            NaN                 NaN

[105 rows x 2 columns]

In [61]:
port1 = pd.merge(port1, flights_col, left_on="data", right_on="Date", how = "left")

In [62]:
port1 = port1.set_index("data").sort_index()

In [63]:
port1

,confirmados_arsnorte,confirmados_arscentro,confirmados_arslvt,confirmados_arsalentejo,confirmados_arsalgarve,confirmados_acores,confirmados_madeira,confirmados_novos,recuperados,obitos,...,Wind_Speed,Wind_Direction,Visibility,Cloud_Cover,Relative_Humidity,Rain,Clear,Partially_cloudy,flights,commercial_flights
data,,,,,,,,,,,,,,,,,,,,,
2020-03-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,22.271429,247.387143,10.614286,4.885714,76.040000,0.428571,0.571429,0.000000,177311.142857,104781.857143
2020-03-08,22.0,1.0,6.0,0.0,1.0,0.0,0.0,30,0.0,0.0,...,23.671429,251.834286,11.114286,6.442857,74.551429,0.571429,0.428571,0.000000,178796.428571,103299.142857
2020-03-15,81.0,9.0,110.0,0.0,9.0,1.0,0.0,215,2.0,0.0,...,20.614286,257.524286,11.085714,3.800000,68.810000,0.000000,1.000000,0.000000,167279.714286,96839.285714
2020-03-22,722.0,170.0,418.0,5.0,25.0,3.0,7.0,1355,3.0,14.0,...,22.900000,185.542857,10.400000,1.571429,67.730000,0.428571,0.571429,0.000000,123842.857143,70288.857143
2020-03-29,2725.0,529.0,944.0,36.0,73.0,29.0,36.0,4362,38.0,105.0,...,21.771429,187.704286,10.500000,2.028571,67.115714,0.000000,1.000000,0.000000,83941.000000,42447.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-03-28,739.0,357.0,1155.0,155.0,192.0,81.0,198.0,2877,8072.0,69.0,...,18.914286,208.292857,10.485714,0.771429,59.792857,0.000000,1.000000,0.000000,162488.428571,76660.857143
2021-04-04,882.0,297.0,1243.0,118.0,213.0,51.0,124.0,2928,4931.0,42.0,...,20.700000,185.434286,10.214286,3.000000,71.342857,0.142857,0.857143,0.000000,171999.000000,77864.285714
2021-04-11,1307.0,475.0,1460.0,176.0,316.0,264.0,161.0,4159,4296.0,37.0,...,20.542857,231.942857,10.428571,5.657143,72.708571,0.285714,0.714286,0.000000,168114.857143,79368.571429
2021-04-18,1323.0,335.0,1062.0,213.0,240.0,190.0,144.0,3507,4051.0,29.0,...,15.671429,179.115714,10.571429,9.985714,75.531429,0.714286,0.285714,0.142857,173137.714286,77735.142857
2021-04-25,511.0,111.0,398.0,66.0,52.0,59.0,57.0,1254,1981.0,7.0,...,23.042857,237.281429,10.928571,7.242857,76.915714,0.714286,0.285714,0.000000,170722.142857,76306.142857

In [64]:
compression_opts = dict(method='zip',
                        archive_name='covid_portugal.csv')  
port1.to_csv('covid_portugal.zip', index=True,
          compression=compression_opts)